/*Browser Reset*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #faeee7;
  color: black;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
header {
  max-width: 1440px;
  background-color: #325288;
  height: 12em;
  padding: 1rem 0rem;
  margin: 0 auto;
  color: white;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

footer {
  max-width: 1440px;
  margin: auto;
  padding: 1rem;
  background-color: #24a19c;
  color: white;
}

nav {
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 1em;
  top: 0;
  background-color: #325288;
  font-size: 18px;
}

nav ul li {
  display: inline;
  padding: 0em 1em;
}

nav ul li:hover {
  color:#d96098;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

header h1 {
  margin: 1rem 0 1rem;
  font-family: Merriweather, "Times New Roman", Times, serif;
  padding: 1em 1em 0;
  font-size: 48px;
}

header h3 {
  color: #d96098;
  font-family: Lato, Arial, Helvetica, sans-serif;
  padding: 0 2em;
  font-size: 24px;
}

section {
  margin: 1rem 2rem;
  border-bottom: solid grey thin;
}

h2 {
  margin: 1rem 0;
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
}

p {
  margin: 1rem 0;
}

#colour-list li {
  margin: 0.5rem 0 0 2rem;
}

.row {
  margin: 1rem 0;
}

.card {
  display: inline-block;
  margin: 1rem;
  width: 12rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 8px;
}

.colour-card {
  width: 12rem;
  height: 12rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
}

.colourcode-card {
  background-color: lightgrey;
  width: 12rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.5rem 0;
}

.colourcode-card p {
  margin: auto;
  padding: 1px;
}

#colour1 {
  background-color: #325288;
}

#colour2 {
  background-color: #24a19c;
}

#colour3 {
  background-color: #d96098;
}

.fonts h3 {
  font-family: lato;
  color: grey;
}

.fonts {
  display: inline-block;
  margin: 0 2em 0.5em 0;
  vertical-align: top;
}

.abrilFatface {
  font-family: Abril Fatface;
}

.merriweather {
  font-family: Merriweather;
}

.lato {
  font-family: lato;
}

.black {
  font-weight: 900;
  font-size: 32px;
}

.bold {
  font-weight: 700;
  font-size: 26px;
}

.regular {
  font-weight: 400;
  font-size: 22px
}

.light {
  font-weight: 300;
  font-size: 18px
}

.italic {
  font-style: italic;
}

.nav {
  text-align: center;
  position: static;
  width: 100%;
  top: 2em;
  background-color:#325288;
  padding: 1em 0;
  color: white
}

.nav ul li {
  display: inline;
  padding: 0em 1em;
}

.nav ul li:hover{
  color: #d96098
}

.codespace {
  background-color: #eee;
  padding: 1em;
  width: 14em;
  margin: 0 0 1em 0
}

footer p {
  margin: 1rem 2rem;
}
